---
---

@import "mixins";
@import "/css/bootstrap.css";
@import "/css/syntax.css";

html, body {
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  font: 16px/1.4 normal 'Lato', Helvetica, sans-serif;
}

a, .a-like {
  text-decoration: none;
  color: $green;
  @include transition(color 0.2s);

  &:visited {
    color: $dark-green;
  }
  &:hover {
    text-decoration: underline; 
  }

}

h2 {
  padding-bottom: 5px;
  border-bottom: 1pt solid $rule-grey;
  margin-top: 25px;
  margin-bottom: 10px;

  &.bonus {
    color: $pink;
    border-bottom: 1pt solid $pink;
  }
}

hr {
  border: none;
  border-bottom: 1pt solid $rule-grey;
  margin: 10px 0;
}

img.centered {
  display: block;
  margin: 20px auto;
}

.header {
  background-color: $off-white;
  border-bottom: 1pt solid $border-grey;
}
.footer {
  padding: 20px;
  background-color: $off-white;
  border-top: 1pt solid $border-grey;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  width: 200px;
  float: right;
}

.hint {
  padding: 15px;
  border: 1pt solid $green;
  background-color: $background-green;
  border-radius: $border-radius;
  color: #333;
  font-style: italic;
}

pre code {
  display: block; padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

.hover-show {
  color: #888;
  cursor: pointer;
  margin-bottom: 5px;
  @include transition(color 0.2s);

  &:hover {
    color: black;

  }
  &:hover + .hover-hide {
    opacity: 1;
  }
}
.hover-hide {
  opacity: 0;
  clear: both;
  @include transition(opacity 0.2s);
}

.btn {
  padding: 7px;
  margin: 13px;
  border-radius: 3px;
  color: white;
  text-shadow: none;
  background-color: #4ABD9B;
  @include transition(background-color 0.2s);

  &.big {
    padding: 10px;
    font-size: 120%;
  }
  &::hover {
    background-color: #3c9b7f;
  }
}
