---
title: Homework for 1B
layout: exercise
prev: 1A
current: 1B
next: 2A
permalink: /exercises/1B.html
answers_shown: false
---
<h1>Review</h1>
<p>
  <b>Topics Covered:</b> Creating, assigning, reassigning variables; creating and running scripts; console input and output
</p>
<p>
  Go back and review on Treehouse if any topic was unclear.
</p>
<hr class="large">

<!-- Exercises -->
<h1>Exercises</h1>
<h2>E1: More Surveying</h2>
<p>
  Now that you can get some input and output, let's do some actual computing. For the first exercise, create a new file in <code>d1/survey</code> called <code>survey_average_age.rb</code>. In this one, we'll also ask for the user's mom's age, a dad's age, and compute the average age of the family (you don't have to ask for the name). As usual, please do not copy paste, but try to write out the code, referencing <code>survey.rb</code> only if you really need to. 
</p>
<pre><code>$ ruby survey_average_age.rb
Hello!
How old are you?
29
How old is your mom?
45
How old is your dad?
49
Thanks for answering my creepy questions! The average age of your family is 41 years old!
Goodbye!</code></pre>
<p class="info hint">Hint: To convert a string to an integer, call <code>.to_i</code> on a string variable, just like we used <code>.strip</code>. To convert it to a decimal (called a floating point number, or float, in programming) use <code>.to_f</code>.</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <pre><code><span class="comment"># survey_average_age.rb</span>

puts "Hello!"
puts "How old are you?"
my_age = gets.to_f
puts "How old is your mom?"
mom_age = gets.to_f
puts "How old is your dad?"
dad_age = gets.to_f
average = (my_age + mom_age + dad_age)/3
puts "Thanks for answering my creepy questions! 
The average age of your family is #{average} years old!"
puts "Goodbye!"

<span class="comment"># Why do we use to_f instead of to_i? What happens when
you use the inputs 2, 2 and 3? Does it give the correct answer? Why or why
not?</span></code></pre>
</div>
{% endif %}
<h2>E2: Add Some Stress</h2>
<p>
  Now that you have a program that knows a lot about your family, do some <b>stress testing</b>. That means to try different inputs to see how your program responds. What happens if your output isn't a whole number? What if you input a negative number? A decimal? A fraction? Anything else you can think of?
</p>
<p>
  This is actually a pretty important part of programming: making sure your program handles errors well. When you make a website, you can't always guarantee that the user will type in a number in an input field that asks for their age. To make great apps, you have to be dilligent!
</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  Things to try in addition to those suggested: 
  <ul>
    <li>A blank line</li>
    <li>Numbers followed by letters</li>
    <li>Letters followed by numbers</li>
    <li>Multiple numbers</li>
    <li>Can you think of more?</li>
  </ul>
</div>
{% endif %}
<h2>E3: IRBert the Worm</h2>
<p>
  Write down the answers to these questions <b>before</b> trying them in <code>irb</code>. Once you're done, show your answers to a TA. Consider the code below:
</p>
<pre><code>>> x = 5
>> y = 10
>> x = y + 5
>> y = y + 10</code></pre>
<p>
  <ol>
    <li>What is the value of <code>x</code>?</li>
    <li>What is the value of <code>y</code>?</li>
    <li>Is <code>x</code> being reassigned?</li>
    <li>Is <code>y</code> being reassigned?</li>
  </ol>
</p>
More code (continues from above):
<pre><code>>> y = "hi!"
>> x + y</code></pre>
<p>
  <ol start="3">
    <li>What type is <code>x</code>?</li>
    <li>What type is <code>y</code>?</li>
    <li>Will there be an error? If yes, why, and how do we fix it?</li>
  </ol>
</p>
<pre><code>>> name = gets
joe
>> hi_name = y + name</code></pre>
<p>
  <ol start="6">
    <li>What is the type of <code>name</code>?</li>
    <li>What will be output to the screen if we ran this?</li>
    <li>What is the <b>exact</b> value of <code>hi_name</code> now?</li>
  </ol>
</p>
<pre><code>>> puts hi_name
>> puts hi_name.strip
>> puts "#{hi_name.strip}"
>> puts "#{hi_name}.strip"</code></pre>
<p>
  <ol start="9">
    <li>What is the <b>exact</b> output of each of these these statements?</li>
  </ol>
</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <ol>
    <li>15</li>
    <li>20</li>
    <li>yes</li>
    <li>yes</li>
    <li>Integer (or number or <code>Fixnum</code>)</li>
    <li>String</li>
    <li>Nothing, there's no <code>puts</code></li>
    <li>Yes, we can't add integers and strings. Solutions include <code>"#{x}"+y</code>, <code>"#{x}#{y}"</code>, and <code>x.to_s + y</code></li>
    <li>"joe\n"</li>
    <li>
      <ul>
        <li>hi!joe (The console won't output multiple new lines at the end of statements)</li>
        <li>hi!joe</li>
        <li>hi!joe</li>
        <li>hi!joe<br>.strip</li>
      </ul>
    </li>
  </ol>
</div>
{% endif %}


<h2 class="bonus">E4: QUADFORM</h2>
<p>
  Average is a pretty weak form of computation. For the heavy lifting, let's take it back to middle school and the days of the quadratic formula. If your memory serves you well, in an equation of the form
  <code>ax^2 + bx + c = 0</code>:
  <pre>x = (-b + squareroot(b*b - 4*a*c))/2*a</pre> and 
  <pre>x = (-b - squareroot(b*b - 4*a*c))/2*a</pre>
  Remember, your a, b, and c values need to be logical. For reference, look up a sample quadratic equation online.
  Let's write some code to now give us the two roots - or xs. Note, the Ruby method <a href="http://www.ruby-doc.org/core-2.1.2/Math.html">Math.sqrt</a> is helpful for this exercise. Please read up on its usage. :)
  Next, create a new file named <code>quadform.rb</code> and make it do as follows:
</p>
<pre><code>$ ruby quadform.rb
Hey bru (South African for "bro"). Let's compute some quadform.
Give me an A:
1
Give me a B:
-3
Give me a C:
2
beep computing boop boop...
x is either
1.0
or
2.0
Goodbye!</code></pre>
<p>As with before, stress test. Try decimal (float) inputs. Try equations where there is only one real solution, or no real solutions. What should your program do in each case?</p>
{% if page.answers_shown %}
  <span class="hover-show pull-right">Hover for answer</span>
  <div class="hover-hide">
    <pre><code><span class="comment"># quadform.rb</span>

puts <span class="string">"Hey bru (South African for \"bro\"). Let's compute some quadform."</span>
puts <span class="string">"Give me an A:"</span>
a = gets.strip.to_f
puts <span class="string">"Give me a B:"</span>
b = gets.strip.to_f
puts <span class="string">"Give me a C:"</span>
c = gets.strip.to_f
x1 = (-b + Math.sqrt(b*b - 4*a*c))/(2*a)
x2 = (-b - Math.sqrt(b*b - 4*a*c))/(2*a)
puts <span class="string">"x is either"</span>
puts x1
puts <span class="string">"or"</span>
puts x2
puts <span class="string">"Goodbye!"</span></code></pre>
  </div>
{% endif %}
<!-- Projects -->
<hr class="large">
<h1>Projects</h1>
<h2>A Coder's Selfie</h2>
<p>
  Like most things in life, coding requires planning. From movies and pop culture, it seems like young hackers just sit down in their dorm rooms and churn out social networks by the dozens. In reality, a <b>significant portion of programming is planning.</b> For example, before anything can be built at Google, engineers write what's called a Design Document, which outlines all the features, potential pitfalls, and detailed design decisions. Only after all the team members have weighed in and dissected the whole thing can code be written. Similar practices abound at all serious tech companies. In fact, rumor has it that Facebook has had to write thousands of lines of code to work around an early, not-so-well-though-out design decision made by Mark Zuckerberg himself. Facebook may well be millions of dollars richer, had he planned before his coding frenzy. Gosh darn it.
</p>
<p>
  So your next billions-dollar company doesn't fall victim to the same issues, we're going to get in the habit of planning our projects before we start coding. Your personal page is no exception. Create a file called <code>README.md</code> in your <code>personal</code> folder and answer the following questions. (Refresher: to create the file, right-click on the folder in the Sublime sidebar, then choose "New File". Make sure to save, and call it <code>README.md</code>.) No need to write an essay, but a couple of words or sentences about each will really clear up your thinking. You can structure your plans however makes sense to you, but we advise you to follow the following syntax. It's called Markdown (hence the <code>.md</code> in the filename), and it's very handy to know.
</p>
<pre><code>## The bru's personal page
#### May 27, 2014

## Overview

#### Motivation

- What do I want to say with this page? What's its purpose?
- What's the target audience? Friends/family? Employers? Groupies? 
- Is this a professional page, a portfolio? Just for fun, a design playground?

#### Content

- What do I want to actually put on it? Suggestions:
- Links to things you've made (photos, videos, class projects)
- Yet another blog
- A self intro, with links to how to contact you (FB, Github, etc.)
- Be as specific as you can here

## Design

- What's the look and feel of it? Minimalist? Intricate? Goth?
- You'll do a lot more of this when we start thinking about CSS.
- Will you use images? Icons? From where?
- Do some research! Look at other sites for inspiration. 
- http://onepagelove.com/gallery/personal
- Check out the resources page for more. 

## Code

You'll be using HTML and CSS, but as you think about your layout, 
you might want to start thinking about logical sections of the page 
(header, footer, sidebar—if you want any of these things), 
and how you might structure those with HTML. 
</code></pre>
<p class="info warning">
  We're encouraging you to use Markdown because it's easy—but if you have another way you want to do it, that's fine! The priority is to get your ideas down, not to learn a whole other thing. If you're curious, though, more info about Markdown can be found <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">here</a>.

<!-- Rafi had personal page from 1A here. -->

<h4>Code Review</h4>
<p>
  The next good coding practice we'll learn is <b>code review</b>. This means looking at someone else's code and reading it line by line to understand it: NOT just casually glancing over it. For this part, pick someone near you and go through each other's code together. You're looking for several things, in both your and your partner's code:
</p>
<ol>
  <li>
    <b>Syntax</b>: Can you spot any typographical mistakes (unclosed tags, unclosed quotes, bad indentation, missing brackets). Syntax highlighting and indentation help with this, but don't catch everything. 
  </li>
  <li>
    <b>Content</b>: Does what they're doing <i>make sense?</i> Does each <code>div</code> have a purpose? Could there be a better structure for what their page is trying to look like? Would more or less commenting help people understand what's going on?
  </li>
</ol>
<p>
  Try to give constructive criticism and be open to suggestions about your own code. Borrow each other's ideas and discoveries—coding is meant to be a collaborative process!
</p>
<h4>Adding some personality to your HTML with CSS</h4>
<p>
  There are many ways to add styling to your HTML pages, i.e. style tags and CSS. However, good practice dictates that we should include all our style choices in a seperate CSS file. This way we can clearly differentiate between content and design, keep track of all our style decisions in one place, and easily change them when we need to. 
</p>
<p>
  The first thing we need to do is link our HTML page with a CSS stylsheet. We do this by adding a <code>&lt;link&gt;</code> to the CSS stylesheet inside our <code>&lt;head&gt;</code> at the top of our HTML page. This lets our HTML page know where to look for the CSS stylesheet.
</p>
<pre><code><span class="comment">...</span>
<span class="tag">&lt;head&gt;</span>
<span class="tag">&lt;title&gt;</span>The Bru<span class="tag">&lt;/title&gt;</span>
<span class="tag">&lt;link rel=<span class="string">"stylesheet"</span> href=<span class="string">"./stylesheets/style.css"</span>&gt;</span>
<span class="tag">&lt;/head&gt;</span>
<span class="tag">&lt;body&gt;</span>
...
</code></pre>
<p>
  We can now use <b>classes</b> and <b>IDs</b> to link our HTML and CSS files. Classes can be used multiple times to apply styling to numerous HTML items. IDs can only be used once! Remember that classes are referenced in your CSS file using a period, e.g. <code>.class-name</code>, and IDs are referenced using the hash symbol, e.g. <code>#ID-name</code>. Check out Treehouse if you need to refresh yourself on how to implement CSS.
</p>
<hr class="large">
<h1>
  Dust yourself off!
</h1>
<p>
  Pat yourself on the back for a great first day—you're well on your the way to becoming an excellent programmer. Make sure to get a good night's rest, overcome any jetlag, and catch up on any Treehouse pre-work. 
</p>
