---
title: Homework for 2B
layout: exercise
prev: 2A
next: 3A
permalink: /exercises/2B.html
answers_shown: false
---
<h1>Review</h1>
<p>
  <b>Topics Covered:</b> creating, updating, iterating over arrays (lists); same for hashes (dictionaries); symbols; basic methods; options hash for methods
</p>
<hr class="large">

<!-- Exercises -->
<h1>Exercises</h1>

<h2>E1: Reverse</h2>
<p>
  Write a program that prints out the array <code>["apples", "bananas", "carrots", 4]</code> in reverse. Don't just flip the array in the code.
</p>
<pre><code>$ ruby reverse.rb
4
carrots
bananas
apples</code></pre>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <pre><code><span class="comment"># reverse.rb</span>

list = ["apples", "bananas", "carrots", 4]
index = list.length - 1
while index >= 0
  puts list[index]
  index -= 1
end

<span class="comment"># alternate solution</span>
list = ["apples", "bananas", "carrots", 4]
list.each_with_index do |item, index|
  puts list[list.length - index - 1]
end

<span class="comment"># alternate (cheeky) solution</span>
list = ["apples", "bananas", "carrots", 4]
list.reverse.each do |item|
  puts item
end

<span class="comment"># If it's a short loop, you can do it on one line:</span>
list.each_with_index do { |item, index| puts list[list.length-index-1] }</code></pre>
</div>
{% endif %}

<h2>E2: Hashes and lists, oh my!</h2>
<p>
  While we've primarily seen examples of hashes mapping strings to integers or vice versa, the values can actually be anything (like array, or even other hashes). Create a hash (in <code>ingredients.rb</code>) that maps a dish name (i.e. "Hash browns") to a list of necessary ingredients (i.e. "Potatoes", "Butter", "...is there anything else?"). Add at least 3 dishes. Each dish should have at least 3 ingredients.
</p>

<h4>Hash on Hash on Hash</h4>
<p>
  Create a new file <code>recipes.rb</code>. This time, map each dish name to another hash. That hash should have keys <code>:description</code> (which maps to a <code>String</code>), <code>:ingredients</code> (which maps to an array of Strings, like above, and <code>:steps</code> (which maps to an array of Strings that, you guessed it, tell you how to make the dish). 
</p>
<p>
  If you finish early, cook one of those dishes for your TA.
</p>
<div class="info warning">
  In code, formatting is important. If you're making a nested object, use a clear structure:
  <ul>
    <code>
<pre style="font-style: normal">
hash = {
  :a => {
    :b => ["c", "d"]
  },
  :e => "f"
}</pre>
</code>
  </ul>
</div>
<h4>Notation</h4>
<p>
  When describing complex objects, it's nice to have a way to describe them. If I were to describe a hash that maps a symbol to a string, for example, I would write <code>Hash&lt;Symbol, String&gt;</code>. For nested structures: <code>Hash&lt;Symbol, Array&lt;String&gt;&gt;</code> (a hash that maps a symbol to an array of strings). Write down the signatures for:
  <ol>
    <li>The hash in <code>ingredients.rb</code></li>
    <li>A hash that maps hashes to an array of integers</li>
    <li>An array of hashes that map arrays of strings to symbols</li>
    <li>The hash in the yellow box above (can it be done? explain why).</li>
  </ol>
</p>
<h2>E3: Build a List</h2>
<p>
  In <code>d2</code>, create a program that asks the user for items. Add each item to a list, and print out the whole list after each item.
</p>
<pre><code>$ ruby list_builder.rb
Welcome to list builder!
What can I add?
yummy things
Added! Your list is:
["yummy things"]
What can I add?
icky things
Added! Your list is:
["yummy things", "icky things"]
</code></pre>
<p class="info hint">
  To keep a program running forever, put your code in a <code>while true</code> loop. To exit such a program, press <code>Ctrl-c</code> in the shell.
</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <pre><code><span class="comment"># list_builder.rb</span>
  
puts "Welcome to list builder!"
list = []
while <span class="boolean">true</span> do
  puts "What can I add?"
  item = gets.strip
  list.push(item)
  puts "Added! Your list is:"
  p list <span class="comment"># p is like puts, but works with all objects, not just strings</span>
end</code></pre>
</div>
{% endif %}
<h2>E4: An Extensive Listbuilder</h2>
<p>
  Create an extensive list builder, that allows you to add items with a command like <code>add x</code>, remove items with <code>remove x</code>, and quit with <code>quit</code>
</p>
<pre><code>$ ruby ext_list_builder.rb
Welcome to list builder++!
What can I do for you?
add a
Added! Your list is:
["a"]
What can I do for you?
add b
Added! Your list is:
["a", "b"]
remove a
Removed! Your list is:
["b"]
quit
Bye!</code></pre>
<p class="info hint">
  This is the pinnacle—it'll require knowledge from all the exercises up until this point! Since the program will be long, you may want to sketch out a solution before you start coding—remember what we said about planning. How do you keep track of whether you're done? What if the user makes a typo, tries a different command, or tries to remove something not in the list? Can they they see the list of available commands somehow?
  <br>
  After you come up with a solution, try to stress test, and check for edge cases (not typing anything, typing many words, etc.). Then ask one of the TA's to stress test for you and find any bugs!
</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide"><pre><code><span class="comment"># ext_list_builder.rb</span>

puts "Welcome to list builder++!"
list = []
while true do
  puts "What can I do for you?"
  command = gets.strip
  tokens = command.split(" ")
  if tokens[0] == "add"
    item = tokens[1]
    list.push(item)
    puts "Added! Your list is:"
    p list
  elsif tokens[0] == "remove"
    item = tokens[1]
    list.delete(item)
    puts "Removed! Your list is:"
    p list
  elsif tokens[0] == "quit"
    puts "Bye!"
    break
    elsif tokens[0] == "help"
    puts "You can add items with 'add x', remove items with 'remove x' and quit with 'quit'."
  else
    puts "Command not recognized"
  end
end</code></pre>
  </div>
{% endif %}
<h2>E5: A Container Builder</h2>
<p>
  Extend your program to use a <code>Hash</code> instead of an <code>Array</code>, and keep track of how many of each item the user has added.
</p>
<pre><code>$ ruby container.rb
Welcome to container builder!
What can I do for you?
add a
Added! Your container has:
{"a"=>1}
What can I do for you?
add b
Added! Your container has:
{"a"=>1, "b"=>1}
What can I do for you?
add a
Added! Your container has:
{"a"=>1, "b"=>1}
remove a
Removed! Your container has:
{"a"=>1, "b"=>1}
quit
Bye!</code></pre>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide"><pre><code><span class="comment"># ext_list_builder.rb</span>

puts "Welcome to container builder!"
container = {}
while true do
  puts "What can I do for you?"
  command = gets.strip
  tokens = command.split(" ")
  if tokens[0] == "add"
    item = tokens[1]
    num = container[item]
    num = 0 if num == nil
    num += 1
    container[item] = num
    puts "Added! Your container has:"
    p container
  elsif tokens[0] == "remove"
    item = tokens[1]
    num = container[item]
    if num && num > 0
      num = num - 1
      container[item] = num
      puts "Removed! Your container has:"
      p container
    else
      puts "No such item..."
    end
  elsif tokens[0] == "quit"
    puts "Bye!"
    break
  elsif tokens[0] == "help"
    puts "You can add items with 'add x', remove items with 'remove x' and quit with 'quit'."
  else
  puts "Command not recognized"
    end
end</code></pre>
  </div>
{% endif %}

<h2>Google Map</h2>
<p>
  Translate the following code to use <code>map</code>.
  <pre><code><span class="comment"># map.rb</span>

result = []
engines = ["Google", "Bing", "Ask Jeeves"]
engines.each do |e|
  if e == "Google"
    result.push("OK")
  elsif e == "Bing"
    result.push("Bad!")
  else
    result.push("What is that?")
  end
end

result
<span class="comment"># => ["OK", "Bad!", "What is that?"]</span></code></pre>
</p>
<h2 class="bonus">E7 (Bonus!): Rubeque</h2>
<p>
  <a href="http://rubeque.com">rubeque.com</a> is a great site for simple Ruby puzzles. Try some out. To get you started:
  <ul>
    <li><a href="http://www.rubeque.com/problems/prime-factors">rubeque.com/problems/prime-factors</a></li>
    <li><a href="http://www.rubeque.com/problems/reverse-each-word">rubeque.com/problems/reverse-each-word</a> (Use <code>split</code> and <code>map</code>!)</li>
  </ul>
</p>
<!-- Projects -->
<hr class="large">
<h1>Projects</h1>
<h2>A Coder's Selfie</h2>
<p>
  The final push! You'll be briefly presenting your website to the class tomorrow, so give it your all. <a href="http://iexperience.github.io/personal/2B.html">This</a> is what The Bru came up with, in less than 100 lines of HTML and 100 lines of CSS.
</p>
<p>
  A quick review of how to send to Github:
  <ol>
    <li>Make sure you're in your <code>projects/username.github.io</code> directory in the shell.</li>
    <li><code>git add .</code></li>
    <li><code>git commit -m "A descriptive message about the changes you've made."</code></li>
    <li><code>git push origin master</code></li>
    <li>Your site should now be <b>live on the web</b> at http://username.github.io—go check it out to make sure it looks right. Note that it might take a few minutes for it to update online.</li>
  </ol>
</p>
