---
title: Homework for 4B
layout: exercise
prev: 4A
current: 4B
next: 5A
permalink: /exercises/4B.html
answers_shown: false
---
<h1>Review</h1>
<p>
  <b>Topics Covered:</b> Git; Github
</p>
<hr class="large">
<h1>Exercises</h1>

<h2>E1: Git Review</h2>
<p>
  <ol>
    <li>What does the <code>git init</code> command do?</li>
    <li>
      What does <code>git add</code> do? How is it different from <code>git commit</code>?
    </li>
    <li>
      What is the difference between <b>staged</b> and <b>committed</b> (or <b>versioned</b>) files? When might you stage something and not commit it?
    </li>
    <li>
      What's the shortcut for adding all files and commiting?
    </li>
    <li>
      How do you unstage a staged file? How do you go back to an old version of a committed file?
    </li>
    <li>
      Why are commit messages very important?
    </li>
    <li>
      How do I revert to a previous commit?
    </li>
    <li>
      How do you exit out of <code>vi</code>? (Also called <code>vim</code>.)
    </li>
  </ol>
</p>

{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <ol>
    <li>Starts a new git repository. Specifically, it creates a <code>.git</code> folder (which is hidden by default so you can't see it in Finder) that stores all your git data.</li>
    <li>
      <code>git add</code> <em>stages</em> the specified files. <code>git commit</code> <em>commits</em> those files (add all the staged files to the repo). This gives you flexibility so you don't have to add all the files in your working tree to the reposity—though in the vast majority of cases, that's what you'll do.
    </li>
    <li>
      Staged files are ready to be committed, but aren't in the repository yet. Committing actually adds it to the repo. You might stage something if you've worked on it for a bit, but aren't sure enough of your changes to commit quite yet. <b>You will rarely stage something without committing it</b>.
    </li>
    <li>
      <code>git commit -am "Your commit message"</code>—a <b>very</b> useful command. 
    </li>
    <li>
      To unstage, use <code>git reset</code>. To revert to an earlier version, use <code>git checkout</code>.
    </li>
    <li>
      They describe what was done in the commit—having good messages makes it easy to go back to a particular "draft" of your app. 
    </li>
    <li>
      First use <code>git log</code> to get the <b>commit hash</b> for the commit you want to get back to. The output of <code>git log</code> should look something like: 
      <pre><code>commit 2f10cb58b852b4b2fe6b6f22a4e24594cf1faafd
Author: Rafi Khan <rafi.fa.khan@gmail.com>
Date:   Thu Jun 12 14:53:28 2014 +0200

    undo git rebase typo fix

commit 0d3751aeded09576b3a58174d84870313aa27840
Author: Rafi Khan <rafi.fa.khan@gmail.com>
Date:   Thu Jun 12 14:52:57 2014 +0200

    git rebase typo fix</code></pre>
    The commit hash is that long <code>2f10cb58b852b4b2fe6b6f22a4e24594cf1faafd</code> thing after the word "commit". Then you would run <code>git revert 2f10cb58b852b4b2fe6b6f22a4e24594cf1faafd</code>.
    </li>
    <li>
      Hold shift and press 'Z' twice, or type colon, then w, then q.
    </li>
  </ol>
</div>
{% endif %}

<h2>E2: GitHub</h2>
<p>
  <ol>
    <li>What's the difference between GitHub and git? Could git exist without GitHub? Could GitHub exist without git?</li>
    <li>Why is GitHub a cool company?</li>
    <li>What does <code>git push</code> do?</li>
    <li>What does <code>git pull</code> do? How is it different from/same as <code>git fetch</code> and <code>git merge</code>?</li>
    <li>
      What's the difference between rebase and merge?
    </li>
  </ol>
</p>
{% if page.answers_shown %}
<a class="hover-show pull-right">Hover for answer</a>
<div class="hover-hide">
  <p>
    <ol>
      <li>Git is the version control system that you have installed on your local computer. GitHub is a website that makes collaborating with git very easy, in particular looking at the code other programmers have written. Git could exist without GitHub, but not the other way around.</li>
      <li>They let you put all your code online, for free! But letting people share code so easily, they make solving common problems <em>super</em> easy, as well as pushing forward the open-source community.</li>
      <li>
        Sends your code to the <b>remote</b> you specify. For our purposes, our remote is always called <b>origin</b>, and lives on GitHub.
      </li>
      <li>
        <code>git pull</code> brings code in from the remote you specify, and merges it into your working tree automatically. <code>git fetch</code> brings in the code from the remote, but doesn't merge. <code>git merge</code> then allows you to merge manually. <b>Usually, you'll just use git pull</b>.
      </li>
      <li>
        Merge creates a new commit and rebase doesn't—but rebase also requires a bit more work to fix merge conflicts.
      </li>
    </ol>
  </p>
</div>
{% endif %}

<h2>E3: Tic-Tac-Toe</h2>
<p>
  This exercise is actually more of a mini-project: we're going to work through building a simple tic-tac-toe application from scratch. Pick a partner who you haven't worked with before, create <code>tictactoe.rb</code> in <code>d4</code> and let's get started.
</p>
<h4>Step 1: TIC! (Planning)</h4>
<p>
  As usual, we're going to plan out our approach before we start coding away. Read the following carefully—your program must do the following:
  <ul>
    <li>Take input from two players</li>
    <li>Detect invalid input</li>
    <li>Keep track of whose turn it is</li>
    <li>Keep track of a board</li>
    <li>Keep track of which squares have been filled in on the board, and not let the same square be filled in more than once</li>
    <li>Detect a winner when a player has won</li>
  </ul>
  The player input will be an integer from 0-8 and the squares will be numbered top-left to bottom-right (0 is the top-left square, 2 is the top-right square, 4 is the middle square, and 8 is the bottom-right square).  
</p>
<p>
  In <code>tictactoe.rb</code>, answer the following questions:
</p>
<pre><code><span class="comment"># tictactoe.rb</span>

# How will you keep track of whose turn it is?
# What data structure will you use to keep track of the board? You only
#   know two (Array, Hash), but remember they can be nested (meaning an
#   array can contain another array—it can even contain a hash that contains
#   another hash, though unclear if that will be useful :P)
# When a player makes a move, what should happen? 
# How do you keep track of which squares have Xs and which have Os?
# How do you detect a winner?
# When does the program stop? Is there a loop? If so, what kind?</code></pre>
<h4>Step 2: TAC! (Pseudo-code)</h4>
<p>
  <em>Pseudo-code</em> is an informal, high-level description of your program's operation. Pseudo-code is written in english and outlines your program's behavior using step by step instructions. An example for tic-tac-toe:
</p>
<pre><code># Every turn:
#   Update whose turn it is
#   Get user input
#   Update board
#   Check for winner</code></pre>
<p>
  Of course, that's pretty easy to write. However, it may be less obvious how you would translate pseudo-code into good ol' Ruby. What exactly is a turn? How does one update the board? These are questions you've started thinking about in Step 1. For Step 2, expand your thinking, and the above pseudo-code, to make a more detailed outline. That is, your writing may contain words like "Array" and "Hash", but probably doesn't contain any "[" or "{" glyphs. As you write, consider these questions, and be ready to answer them:
  <ul>
    <li>
      Do you need to make any classes or modules?
    </li>
    <li>
      What functionality are you using often? Do you need any helper methods?
    </li>
    <li>
      Again: is there a loop? What kind of loop? Does it end? When? How? If no loop, how is your program structured?
    </li>
  </ul>
</p>
<p class="hint info">
  It may be starting to become clear that coding is much more about <b>thinking</b> than anything else. While there isn't necessarily a best solution, there are solutions that are much more intuitive and easier to understand than others. Remember that code is meant to be read by <b>humans</b>, and when two pieces of code do the same thing with the same efficiency, the one that's simpler is always better.
</p>
<p>
  <b>Check in with a TA before continuing!</b>
</p>
<h4>Step 3: TOE! (Code)</h4>
<p>
  Now that you have your pseudo-code, it should be a simple matter to turn it into real code. Take a crack at it, and see if it works!
</p>
<pre><code>$ ruby tictactoe.rb 
Player 1:
0
Player 2:
1
Player 1:
kittens
Error: Invalid input
Player 1:
10
Error: Invalid input
Player 1:
3
Player 2:
2
Player 1:
2
Error: Square already taken
Player 1:
6
Congrats, player 1 won!</code></pre>
    
<p class="info hint">
  If you've gotten this far, you actually know quite a bit about coding, and the coding process. This was actually a Google coding interview problem (though keep that fact hush hush!). When you interview at companies—or try to code anything, really—this workflow is a good one to keep in mind: first <b>talk through</b> your solution and think about what <b>data structures</b> you'll use. Then write <b>pseudo-code</b> and try to foresee as many problems as you can. Only when you're confident in your <b>thinking</b> should you start coding.
</p>
<h4>Step 4: TIC-TAC-TOE! (User Experience)</h4>
<p>
  To be honest, while your program is pretty awesome, it's not very user friendly. Since humans aren't very good at remembering what the board looks like, add a method to print out the board after each step. We've picked a design below, but feel free to make it look like however you want.
</p>

<pre><code>$ ruby tictactoe.rb
Player 1:
4
     |   |   
  ———+———+———
     | X |   
  ———+———+———
     |   |   
Player 2:
0
   O |   |   
  ———+———+———
     | X |   
  ———+———+———
     |   |   
Player 1:
2
   O |   | X 
  ———+———+———
     | X |   
  ———+———+———
     |   |   
Player 2:
6
   O |   | X 
  ———+———+———
     | X |   
  ———+———+———
   O |   |   
Player 1:
3
   O |   | X 
  ———+———+———
   X | X |   
  ———+———+———
   O |   |   
Player 2:
5
   O |   | X 
  ———+———+———
   X | X | O 
  ———+———+———
   O |   |   
Player 1:
1
   O | X | X 
  ———+———+———
   X | X | O 
  ———+———+———
   O |   |   
Player 2:
7
   O | X | X 
  ———+———+———
   X | X | O 
  ———+———+———
   O | O |   
Player 1:
8
   O | X | X 
  ———+———+———
   X | X | O 
  ———+———+———
   O | O | X 
Cats game!</code></pre>
{% if page.answers_shown %} 
<h4>Answers</h4>
<p>
  Find the answers at <a href="/tests/tictactoe.rb">/tests/tictactoe.rb</a>.
</p>
{% endif %}

<h2>E4: Bigger. Better. Quadrupled.</h2>
<p>
    Now that you've mastered the basics of tic-tac-toe, it's time to move on to bigger and better things. Choose one of the following extension projects:
    <ul>
        <li>
            Change your game into <b>EXTREME tic-tac-toe</b>, AKA 4x4 tic-tac-toe (Guru difficulty)
            <p>
                Think about what kind of changes you will need to make to your program by following the steps you used for making the first game. Plan, pseudo-code, code, repeat!
            </p>
        </li>
        <li>
            Create <b>Connect Four</b> (Chosen One difficulty)
            <p>
                Recreate the (awesome) two-player sensation from the 70s. Think about the different rules that you will need for this game as opposed to regular tic-tac-toe, e.g. can a player put a disc wherever they want?
            </p>
        </li>
    </ul>
</p>

<h2 class="bonus">E5 (Bonus!): Computer Tic-Tac-Toe</h2>
<p>
  While playing against a person is fun, us loners need something to do. Write a program that <b>plays tic tac toe against you</b>. Your implementation should give your opponenent artificial intelligence (AI)! While this may seem too difficult, it's not too hard if you split it into steps! Try giving the computer these abilities in order: 
</p>
<p>
  <ol>
    <li>Simply choose a random square to play in</li>
    <li>Play in a winning square if there is one</li>
    <li>Block the human from winning if they have a winning move</li>
    <li>Make the computer impossible to defeat!</li>
    <li>Allow the computer to take advantage of poor human play to win!</li>
  </ol>
</p>
<p>The first three items are quite manageable, and are a great start to making your opponent smart! The last two items will require some time studying Tic-Tac-Toe strategy, but are a fun way to practice the translation of human strategy to computer code!</p>
<pre><code>$ ruby computer_tictactoe.rb
Would you like to be Player 1 or Player 2?
1
Player 1:
4
Computer: 0
   O |   |   
  ———+———+———
     | X |   
  ———+———+———
     |   |   
Player 1:
2
Computer: 6
6
   O |   | X 
  ———+———+———
     | X |   
  ———+———+———
   O |   |   
Player 1
5
Computer: 8
3
   O |   | X 
  ———+———+———
   O | X | X 
  ———+———+———
   O |   |   
The computer wins!
</code></pre>
<p>
  As you can see, it's pretty tough to get a computer to even be smart about something as simple as tic-tac-toe—the human brain is really amazing. Now consider how much code and intelligence is required to make a program that plays chess, or gives directions to some place depending on traffic and road closings... it's actually quite humbling.
</p>

<hr class="large">

<!-- Projects -->
<h1>Projects</h1>
<h2>Ruby: Fueling Consumerism</h2>
<p>
  Onward the plot to bring consumerism to Cape Town. We have the Goods and the Vehicle, all we need is the Villan.
</p>
<p>
  Create a <code>Shopper</code> class. It should:
  <ul>
    <li>Have one required parameter, <code>first_name</code></li>
    <li>Have <b>optional</b> parameters. The second parameter should be <code>last_name</code> (optional) and the third one should be <code>money</code> (the amount of money the shopper starts with).
    <li>If <code>money</code> is not provided in the <code>options</code> hash, then it should default to 100.</li>
    <li>Have methods to get a <code>first_name</code>, <code>last_name</code> and <code>money</code>, and a <code>full_name</code> method</li>
    <li>
      Have a <code>cart</code> property that is set to an empty <code>Cart</code> in the constructor.
    </li>
    <li>
      Have <code>add_to_cart</code> and <code>remove_from_cart</code> methods.
    </li>
    <li>
      Have a <code>checkout</code> method that empties the cart and subtracts the total price of its items from <code>money</code> proprety, <b>only if</b> the shopper has enough money. If not, the method does nothing.
    </li>
  </ul>
</p>
<h4>More power, Less responsibility</h4>
<p>
  Now create a <code>SuperShopper</code> class. It should:
  <ul>
    <li>Extend <code>Shopper</code></li>
    <li>Receive a 10% discount on all items. That is, in its <code>checkout</code> method, only 90% of the total price of the cart is subtracted from <code>money</code>.</li>
    <li>
      Have a <code>get_money</code> method that takes an optional integer parameter and adds the input to the <code>money</code> property. If no input is specified, add 100.
    </li>
  </ul>
</p>
<p>
  As with before, download the test script from <a href="../tests/shopping_cart_test_2.rb" target="_blank">here</a>. Save it into your <code>shopping_cart</code> directory, run it, and make all the tests pass!
</p>
<!--
<h4>More mustard!!</h4>
<p>
  Implement the following:
  <ul>
    <li>Give each shopper that's created an <code>id</code> attribute. It should update automatically—that is, when I create the first shopper, its id should be 1, the second shopper's should be 2, etc. This is not a property that can be overwritten. Hint: use a class variable.</li>
    <li>
      Create an array that keeps track of all the shoppers—when a shopper is created, it should automatically be added to that array. Do the same for items.
    </li>
    <li>
      Give <code>Shopper</code> a nice <code>to_s</code> method. Do the same for <code>Item</code> and <code>Cart</code>—in fact, shopper's <code>to_s</code> method should call cart's <code>to_s</code> method.
      <pre><code>bru = Shopper.new("bru")
puts bru
<span class="string"># => &lt;Shopper: id: 1, first_name: "bru", last_name: "", money: 100, cart: {}&gt;</span></code></pre>
    </li>
  </ul>
</p>
-->