/*
 * Colors:
 *   green: 4ABD9B
 *   background-green: e2fff3;
 *   dark-green: 3c9b7f;
 *   pink: E32080
 */

html, body {
  padding: 0; margin: 0;
  height: 100%;
  font: 16px/1.4 normal 'Lato', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #4ABD9B;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #3c9b7f;
}

h1.project {
  color: #4ABD9B;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1pt solid #aaa;
  margin-top: 25px;
  margin-bottom: 10px;
}

h2.bonus {
  color: #E32080;
  border-bottom: 1pt solid #E32080;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

pre code {
  border-radius: 3px;
  border: 1pt solid black;
}

img.bordered {
  border-radius: 3px;
  border: 1pt solid #ddd;
}

img.centered {
  display: block;
  margin: 20px auto;
}

hr {
  border-top: 1pt solid black;
  margin: 20px 0;
}

hr.large {
  margin: 40px 0;
}

.header {
  background-color: #fafafa;
  border-bottom: 1pt solid #ddd;
}
.footer {
  padding: 20px;
  background-color: #fafafa;
  border-top: 1pt solid #ddd;
}

/* Classes */
.container {
  width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  width: 200px;
  float: right;
}

.info {
  padding: 15px;
  border-radius: 3px;
  color: #333;
  font-style: italic;
}

.hint {
  border: 1pt solid #4ABD9B;
  background-color: #e2fff3;
}

.warning {
  border: 1pt solid #bdb545;
  background-color: #fff6d1;
}

.hover-show {
  color: #888;
  cursor: pointer;
  margin-bottom: 5px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.hover-hide {
  opacity: 0;
  clear: both;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.hover-show:hover {
  color: black;
}
.hover-show:hover + .hover-hide {
  opacity: 1;
}

.project {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1pt solid #ddd;
  padding: 20px;
}

.project > h1 {
  margin-top: 0;
  color: #4ABD9B;
  text-shadow: 0 1px 1px white;
}

/* Bootstrap-like */
.pull-right {
  float: right;
}

.btn {
  padding: 7px;
  margin: 13px;
  border-radius: 3px;
  color: white;
  text-shadow: none;
  background-color: #4ABD9B;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.btn:hover {
  color: white;
  background-color: #3c9b7f;
  text-decoration: none;
}
.btn.big {
  padding: 10px;
  font-size: 120%;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
