html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1pt solid #aaa;
  margin-top: 25px;
  margin-bottom: 10px;
}

h2.bonus {
  color: #ff1fcb;
  border-bottom: 1pt solid #ff1fcb;
}

img.centered {
  display: block;
  margin: 20px auto;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  width: 200px;
  float: right;
}

.hint {
  padding: 15px;
  border: 1pt solid #7dcc7d;
  background-color: #eafff0;
  border-radius: 3px;
  color: #333;
  font-style: italic;
}

