<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
  
  <link rel="stylesheet" href="/css/bootstrap.css">
  {% for css_name in page.extra_css %}
      <link rel="stylesheet" href="/css/{{ css_name }}">
  {% endfor %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>

<body>
  {{ content }}
</body>
</html>
